Board Index
<h1>Select a Board</h1><br>
<% @boards.each do |board| %>
  <h3> <%= link_to board.name, board_path(board) %></h3>
  <h5> <%= link_to "Edit", edit_board_path(board) %> ||
  <%= link_to "Delete", board_path(board), method: :delete %> </h5>
  
  <% end %>